.button-div{
    margin-top: 100px;
    margin-left: 350px;
}

.input-result{
    /* padding-left: 300px;
   padding-top: 100px;
   padding-right: 600px;  */
  width: 200px;
}
.div-result{
    display: flex;
  padding-left: 410px;
  padding-top: 50px;
}