.button-div{
    margin-top: 100px;
    margin-left: 350px;
}

.input-result{
    /* padding-left: 300px;
   padding-top: 100px;
   padding-right: 600px;  */
  width: 200px;
}
.div-result{
    display: flex;
  padding-left: 410px;
  padding-top: 50px;
}
.liList{
    cursor: pointer;
    display: flex;
    justify-content: space-between
}
.inputcheck{
    height: 20px;
    width: 20px;
    
}
.input{
    margin-right:400px;
}
.input-1{
    margin: 0 200px;
}
.input-2{
   margin-right: 400px;
}
.parent-div{
margin-top: 50px;
}